.home-container {
  padding: 180px 0 0 120px;
}

.main-title {
  font-family: "Red Hat Display";
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.02em;
  color: #062847;
  width: 580px;
}

.main-text {
  font-family: "Red Hat Display";
  margin-top: 25px;
  font-size: 20px;
  line-height: 36px;
  color: #5a6774;
}

.main-button {
  margin-top: 50px;
}
